.rounded-image {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  overflow: hidden;
}

.rounded-image img {
  display: block;
  width: 100%;
  height: auto;
}

.light-red,.hover-light-red:hover{color:#fff!important;background-color:#f3584d!important}
.red,.hover-red:hover{color:#fff!important;background-color:#ff4437!important}
.rounded-top{border-top-left-radius: 24px; border-top-right-radius: 24px;}
.rounded-bottom{border-bottom-left-radius: 24px; border-bottom-right-radius: 24px;}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays above other content */
}

.no-underline {
  text-decoration:none
}

.margin {
  margin-top: 10px;
}

.w70 {
  width: 70%;
}

.w30 {
  width: 30%;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 80%;
}

.w20 {
  width: 20%;
}

.w50 {
  width: 50%;
}

.highlight {
  transition: background-color 1s ; /* Transition for background-color and border-color over 1 second */
  background-color: lightsalmon;
}
