.level-box {
    display: flex;
}

.level-box-fill {
    width: 15px;
    height: 5px;
    background-color: red;
    margin-right: 5px;
    border-radius: 3px;
}


.my-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-color: whitesmoke;
    margin: 5px;
}

.my-table-header {
    color: white;
    text-align: center;
    background-color: darkorange;
}

.my-table-header th {
    padding: 5px;
    border: none;
}

.my-table-content tr:nth-child(even) {
    background-color: lightgray;
}

.my-table-content tr:nth-child(odd) {
    background-color: whitesmoke;
}

.my-table-content tr:hover {
    background-color:tomato;
    color: white;
}

.my-table-content td {
    padding: 5px;
    border: none;
}

.my-table-border {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.skills-div {
    display: flex;
}

.margin-5 {
    margin: 5px;
}

.column-center {
    text-align: center;
}