.my-link {
    color:deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

.my-link:hover {
    color:orange;
    text-decoration: none;
}

.my-link-no-color {
    color:white;
    text-decoration: none;
}

.my-link-no-color:hover {
    color:white;
    text-decoration: none;
}